#directories to ignore
**/__pycache__/**
**/.ipynb_checkpoints/**
vscode_remote/**
**/save_dir/**
**/node_modules/**

#files to ignore
*.DS_Store
*.h5
*.pickle
*.bin
model.json
**/lib/*.js

#templates
.vscode/settings.json
Docker/docker-compose.CPU.dev.yml
Docker/docker-compose.GPU.dev.yml

#removed files
start_docker.sh