{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Mining Pages{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'mining_shapes/styles.css' %}" rel="stylesheet">
    {% block script %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand abs" href="#">iDAI.<strong>mining-pages</strong></a>  
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="" >Username</a>
            </li>
        </ul>
    </nav>

    <div class="body">
        {% block body %}
        {% endblock %}
    </div>
</body>

</html>